<?xml version="1.0"?>
<config>
    <modules>
        <Mage_OrderExport>
            <version>0.1.0</version>
        </Mage_OrderExport>
    </modules>
    <crontab>
        <jobs>
            <order_export_observer>
                <schedule><cron_expr>15 14 * * *</cron_expr></schedule>
                <run><model>orderExport/observer::check</model></run>
            </order_export_observer>
        </jobs>
    </crontab>
    <global>
        <helpers>
            <orderExport>
                <class>Mage_OrderExport_Helper</class>
            </orderExport>
        </helpers>
        <models>
            <orderExport>
                <class>Mage_OrderExport_Model</class>
            </orderExport>
        </models>
    </global>
    <frontend>
        <routers>
            <OrderExport>
                <use>standard</use>
                <args>
                    <module>Mage_OrderExport</module>
                    <frontName>orderexport</frontName>
                </args>
            </OrderExport>
        </routers>
        <translate>
            <modules>
                <Mage_OrderExport>
                    <files>
                        <default>Mage_OrderExport.csv</default>
                    </files>
                </Mage_OrderExport>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_OrderExport>
                    <files>
                        <default>Mage_OrderExport.csv</default>
                    </files>
                </Mage_OrderExport>
            </modules>
        </translate>
    </adminhtml>  
    <default>
       <sales>
           <export>
               <path>var/report</path>
               <status>pending</status>
           </export>
       </sales>
    </default>
</config>